extends ../_layout

block variables
  - var title = 'Typescript Tips&Tricks: Declarations'
  - var description = 'How to extends global objects, add static methods and custom typings for the 3rd party code in TypeScript'
  - var keywords = 'typescript, typings, custom types, global object, static method'
  - var canonical = 'https://drag13.io/posts/typescript-tips-tricks-declarations/index.html'
  - var img = '~/img/kdpv/ts-declarations.png'

block content
  article.post
    include:highlight:markdown-it content.md
    p.tag [16.08.2020] #typescript #declarations
