extends ../_layout

block variables
  - var title = 'TypeScript Tips and Tricks - Declarations With Examples'
  - var description = 'In this article we will learn how to extend global types, add type declaration for the static methods and add custom typings for the 3rd party code in TypeScript'
  - var keywords = 'typescript, typings, custom types, global object, static method, dts'
  - var canonical = 'https://drag13.io/posts/typescript-tips-tricks-declarations/index.html'
  - var img = '~/img/kdpv/ts-declarations.png'

block content
  article.post
    include:highlight:markdown-it content.md
    p.tag [16.08.2020] #typescript #declarations
