extends ../_layout.pug

block variables
  - var title = 'How to add custom types into the TypeScript project'
  - var description = 'Tutorial how to add custom types (typings) for third-party code into the TypeScript project or how to solve "could not find a declaration file"'
  - var keywords = 'typings, types, typescript, dts, custom types, could not find a declaration file'
  - var canonical = 'https://drag13.io/posts/custom-typings/index.html'

block content
  article.post
    include:highlight:markdown-it content.md
    p.tag [26.06.2020] #typescript #dts, #custom-types
