extends ../_layout

block variables
  - var title = 'How to start new JS project from scratch with automated formatting, linting, testing and documentation'
  - var description = 'Creating new JavaScript/TypeScript project from scratch with linting, formatting, testing and documentation. Best practices, guidelins, examples'
  - var keywords = 'javascript, typescript, new project, automation, testing, documentation, linting, formatting, prettier, editorconfig, karma, jasmine, commitizen, husky'
  - var canonical = 'https://drag13.io/posts/start-new-project/index.html'

block content
  article
    include:highlight:markdown-it content.md
