extends ./../../_layout.pug

block title
  title How to start new JS project from scratch with automated formatting, linting, testing and documentation

block content
  article
    include:markdown-it content.md
