html,
body {
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  display: flex;
  flex-direction: column;
}

.main {
  margin-right: auto;
  margin-left: auto;
  max-width: 1012px;
  padding-left: 2em;
  padding-right: 2em;
}

.nav {
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: aliceblue;
  margin-bottom: 2rem;
}

.nav a {
  color: #0366d6;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 2em;
}

.footer {
  margin-top: auto;
  padding: 1em;
  vertical-align: middle;
  text-align: right;
}
.footer a {
  padding: 0;
}
