include _seo

doctype html
html(lang='en' prefix='og: http://ogp.me/ns#')
  block variables
  meta(http-equiv='Content-Type' content="text/html; charset=utf-8")
  if (ci)
    meta(http-equiv='Content-Security-Policy' content="default-src 'self'; script-src 'none'")
  +seo(title, description, keywords, canonical, img)
  meta(name='application-name', content='Drag13 programmer\'s blog')
  meta(name='viewport' content="width=device-width, initial-scale=1.0")
  meta(name='author', content='Drag13')
  meta(name='robots', content='index follow')
  meta(name="application-name", content="Drag13 Dev Blog")
  block pageTags
  link(rel='stylesheet', href='~/styles/common.less')
  block page-styles
  link(rel="apple-touch-icon-precomposed", sizes="144x144", href="~/img/apple-touch-icon-144x144.png" )
  link(rel="apple-touch-icon-precomposed", sizes="152x152", href="~/img/apple-touch-icon-152x152.png" )
  link(rel="icon", type="image/png" href="~/img/favicon-32x32.png", sizes="32x32" )
  link(rel="icon", type="image/png" href="~/img/favicon-16x16.png", sizes="16x16" )
  link(rel="manifest", href="~/manifest.webmanifest")

  body
    include ./_nav.pug
    main.main
      div.content.markdown-body
        block content
    include ./_footer.pug
