extends ../_layout.pug

block variables
  - var title = 'How to get javascript bytecode from V8 and others in 2019'
  - var description = 'How to get bytecode for JavaScript using V8 and Node.JS with examples'
  - var keywords = 'javascript performance v8 bytecode node.js'
  - var canonical = 'https://drag13.io/posts/v8-bytecode/index.html'

block content
  article
    include:highlight:markdown-it content.md
