extends ../_layout

block variables
  - var title = 'Top 5 HTTP Security Headers 2020'
  - var description = 'TOP 5 HTTP Security headers with description, examples and implementation.'
  - var keywords = 'security web-security http-headers content-security-policy x-content-type-options strict-transport-security referrer-policy feature-policy'
  - var canonical = 'https://drag13.io/posts/security-headers/index.html'

block content
  article
    include:highlight:markdown-it content.md
