extends ./_layout.pug

block variables
  - var title = 'Drag13 Dev Blog'
  - var description = 'Blog about web-programming, cloud computing, web-site performance and profiling'
  - var keywords = 'programming, web-programming, javascript, performance, web-performance, performance-tuning, .net, c#, f#, html, css, drag13'
  - var canonical = 'https://drag13.github.io/'

block pageTags
  meta(name="google-site-verification", content='b8qT4flIoY-vltz7YZB-2PV1yzjueP9O6sf05nn82tk')

block content
  include:markdown-it index.md